@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right,#CEF2F2, #2F7373);
}

main{
    background-color: white;
    border-radius: 10px; /*cantinhos arredondados*/
    box-shadow: 5px 5px 15px #215353b9;
    width: 600px; /*largura*/
    padding: 10px; /*acolchoamento*/
    margin: auto; /*deixa no meio da tela*/
}

h1{
    color: #2F7373;
    text-align: center;
    /*parametros pro -shadow: tamanho pro lado, pra baixo, de espalhamento e cor*/
    text-shadow: 1px 1px 2px #174b4bad;
}

h2{
    color: #88BFBF;
}

p{
    text-align: justify;
}